### These files should get ignored no matter where they appear.

autom4te.cache
Makefile.in
aminclude_static.am
build-aux/config.guess
build-aux/config.rpath~
build-aux/config.rpath
build-aux/config.sub
build-aux/ltmain.sh
build-aux/texinfo.tex
config.h.in~
config.h.in
configure
doc/Makefile.in
doc/credentials/Makefile.in
doc/credentials/srp/Makefile.in
doc/credentials/x509/Makefile.in
doc/examples/Makefile.in
doc/latex/Makefile.in
doc/manpages/Makefile.in
doc/reference/Makefile.in
doc/scripts/Makefile.in
extra/Makefile.in
extra/includes/Makefile.in
fuzz/Makefile.in
gl/Makefile.in
gl/tests/Makefile.in
guile/Makefile.in
guile/src/Makefile.in
lib/Makefile.in
lib/accelerated/Makefile.in
lib/accelerated/aarch64/Makefile.in
lib/accelerated/x86/Makefile.in
lib/algorithms/Makefile.in
lib/auth/Makefile.in
lib/ext/Makefile.in
lib/extras/Makefile.in
lib/includes/Makefile.in
lib/minitasn1/Makefile.in
lib/nettle/Makefile.in
lib/unistring/Makefile.in
lib/x509/Makefile.in
libdane/Makefile.in
libdane/includes/Makefile.in
m4/extern-inline.m4~
m4/extern-inline.m4
m4/glibc2.m4
m4/glibc21.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intmax.m4
m4/libtool.m4
m4/ltversion.m4
m4/printf-posix.m4
m4/uintmax_t.m4
m4/visibility.m4
po/Makevars.template
src/Makefile.in
src/gl/Makefile.in
src/libopts/Makefile.in
tests/Makefile.in
tests/cert-tests/Makefile.in
tests/slow/Makefile.in
tests/suite/Makefile.in
tests/windows/Makefile.in
